.settings-title{
    margin: 40px 0 25px 0;
}

.info-settings{
    width: 700px;
}

.info-settings .between-center{
    gap: 20px;
}

.settings-devisor{
    width: 100%;
    height: 1px;
    margin: 40px 0;
}

.change-password{
    width: 600px;
    margin-bottom: 40px;
}