.auth-header{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E9EAF0;
}

.auth-text{
    font-size: 14px;
    color: #4E5566;
    margin-right: 15px;
}

.auth-form{
    width: 700px;
    margin: 0 auto;
}

.auth-title{
    color: #1D2026;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.auth-form .between-center{
    gap: 20px;
}

.part-title{
    font-size: 14px;
    color: #1D2026;
    margin-bottom: 10px;
}

.auth-part{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.part-input{
    padding: 15px 20px;
    border: 1px solid #E9EAF0;
    outline: none;
}

.part-input::placeholder{
    color: #8C94A3;
}

.password-input{
    font-size: 16px;
    outline: none;
    border: none;
    flex-grow: 1;
}

.password-container img{
    width: 20px;
}

.terms-text{
    color: #4E5566;
}

.terms-text span{
    color: #564FFD;
}

