.settings-part{
    flex: 1;
    padding: 40px;
}

.setting-part{
    margin: 20px 0
}

.settings-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.settings-header-part{
    flex: 1;
    height: 100%;
}

.settings-header .pfp{
    width: 200px;
    height: 200px;
}

.settings-header .pfp-settings{
    padding: 30px;
}

.settings-header .pfp-desc{
    width: 200px;
}