.profile-header{
    padding-top: 80px;
}

.profile-header-container{
    border: 1px solid #FFDDD1;
    padding: 40px;
}

.profile-header-title{
    margin-left: 25px;
}


.profile-header-button{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-header-icon{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.profile-main-header{
    border: 1px solid #FFDDD1;
    padding: 20px 40px;
    border-top: none;
}

.profile-main-header-link.active{
    text-decoration: underline;
    font-weight: 600;
}

.profile-header-subtitle{
    margin-left: 25px;
    margin-top: 15px;
}