.hero-block{
    padding: 100px 0;
}

.hero-title{
    margin-bottom: 40px;
}

.hero-subtitle{
    margin-bottom: 40px;
}

.hero-block img{
    width: 800px;
}

.browse-block{
    padding: 50px 0;
}

.browse-title{
    text-align: center;
    margin-bottom: 40px;
}

.browse-item{
    width: 300px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.browse-item img{
    margin-right: 20px;
    width: 64px;
    height: 64px;
}

.item-title{
    margin-bottom: 10px;
}

.browse-link{
    text-align: center;
    margin-top: 20px;
}

.browse-link a{
    margin-left: 20px;
    font-weight: 500;
}