header{
    padding-top: 20px;
    padding-bottom: 20px;
}

header a{
    margin-right: 20px;
    font-weight: 500;
}

.active{
    text-decoration: underline;
}

.dropdowns{
    width: 150px;
}

.main-header{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E9EAF0;
}

.main-headerTitle{
    margin-left: 10px;
    margin-right: 40px;
}


.search{
    padding: 10px 25px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    height: 45px;
}

.search input{
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 16px;
    background: none;
    flex-grow: 1;
    margin-left: 15px;
}

.search img{
    height: 20px;
}


.main-clickables{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.main-clickables img{
    height: 17px;
    margin-right: 15px;
}

.main-button{
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;    
}

.main-headerRight .main-button.orange{
    margin-left: 15px;
}

.pfp-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 15px;
}

.layout-buttons{
    gap: 20px;
}

.setting-part-inputs{
    gap: 20px;
}