.maindropdown {
  position: relative;
  display: inline-block;
  width: 200px;
  color: #4E5566;
  font-size: 16px;
}

.maindropdown-label {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.maindropdown-label img{
  width: 15px;
}

.maindropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.maindropdown-item {
  padding: 10px;
  cursor: pointer;
  color: #4E5566;
  font-size: 14px;
}

.maindropdown-item:hover {
  background-color: #ddd;
}
