@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
  font-family: 'SF Pro';
  src: url('./fonts/SF-Pro.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro', sans-serif;
  outline: none;
}

img{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.wide-wrapper{
  max-width: 1620px;
  margin: 0 auto;
}

.standart-wrapper{
  max-width: 1440px;
  margin: 0 auto;
}

.mid-wrapper{
  max-width: 1320px;
  margin: 0 auto;
}

.tiny-wrapper{
  max-width: 1170px;
  margin: 0 auto;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #000000;
}

.between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.between-start{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.column-between-center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
