.input{
    color: #1D2026;
    padding: 10px 20px;
    flex-grow: 1;
    border: 1px solid #E9EAF0;
}

.input::placeholder{
    color: #8C94A3;
}


.input:hover{
    border: 1px solid #FFDDD1;
}


.input:focus{
    border: 1px solid #FF6636;
}