.instructor-wrapper{
    display: flex;
}

.inst-menu{
    min-height: 100vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
}

.instructor-content{
    display: flex;
    flex-direction: column;
    flex: 1;
}


.inst-menu-wrapper{
    padding: 20px 30px;
}

.menu-header{
    border-bottom: solid 1px #8c94a382;
    display: flex;
    align-items: center;
}

.menu-title{
    margin-left: 5px;
}

.greeting{
    margin-bottom: 5px;
}

.inst-pfp-icon{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-left: 15px;
}

.inst-bell{
    height: 20px;
}

.notifications-container{
    height: 45px;
    width: 45px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar-wrapper{  
    padding: 15px 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.side-bar-wrapper img{
    width: 25px;
}

.side-bar-wrapper .body-m500{
    margin-left: 15px;
}

.sign-out{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.instructor-rights{
    display: flex;
    justify-content: space-between;
    align-items: center;
}